@import './reset.css';
@import './fonts.css';

*,
body {
  margin: 0;
  font-family: HelveticaNeue, serif;
}

html,
body,
#root {
  height: 100%;
}

svg,
path {
  /* max-width: 100%; */
  max-height: 100%;
}

/* Default src for imaged without src */
img[src=''] {
  content: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
